* {
    margin: 0;
}

body {
    background: linear-gradient(90deg, rgba(241, 102, 37, 0.795), rgba(238, 217, 33, 0.685));
    height: 100vh;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tetris {
    background-color: rgb(93, 104, 119);
    padding: 0.5vh;
    border-radius: 0.5vh;
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
}

.tetris div {
    height: min(4vh, 7vw);
    width: min(4vh, 7vw);
    background-color: rgba(91, 107, 110, 0.164);
    border-radius: 0.3vh;
    box-shadow: 
                inset 2px 2px 2px  rgba(128, 128, 128, 0.271),
                inset -2px -2px 2px  rgba(22, 87, 217, 0.271);
}

.tetris .O {
    background: rgb(238, 238, 67);
}

.tetris .L {
    background: rgb(121, 238, 67);
}

.tetris .J {
    background: rgb(67, 190, 238);
}

.tetris .I {
    background: rgb(238, 67, 229);
}

.tetris .S {
    background: rgb(113, 62, 255);
}

.tetris .T {
    background: rgb(238, 78, 67);
}

.tetris .Z {
    background: rgb(238, 144, 67);
}