* {
    margin: 0;
}

body {
    background: linear-gradient(90deg, rgb(146, 20, 178), rgb(168, 15, 109));
    height: 100vh;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tetris {
    background-color: rgb(11, 11, 146);
    padding: 0.5vh;
    border-radius: 0.5vh;
}